.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border {
    width: 100%;
    height: 100vh;
    border-top: 100px solid var(--master-black);
    border-right: 9.7vw solid var(--master-black);
    border-bottom: 120px solid var(--master-black);
    border-left: 9.6vw solid var(--master-black);
    box-shadow: 0 0 20px var(--shadow-glow);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s;
}

.border:hover {
    box-shadow: 0 0 25px var(--brand-glow);
    transition: box-shadow 0.3s;
}


.about h2 {
    position: relative;
    font-size: var(--text-xl);
    color: var(--text-color-primary);
    background: var(--master-black);
    padding-bottom: 20px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.about h2 span {
    color: var(--brand-glow);
    text-shadow: 1px 1px 10px var(--shadow-glow);
}

.about-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    margin: 0 10%;
    /* padding: 30px; */
    width: 80vw;
    height: 50vw;
    border-radius: 10px;
    border: 2px solid var(--brand-glow);
    box-shadow: inset 0 0 50px var(--shadow-glow),
        0 0 40px var(--brand-glow);
    transition: 0.3s;
}


.about-img {
    border-radius: 10%;
    box-shadow: 0 0 10px var(--shadow-glow);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(3px);
}

.about-img img {
    position: relative;
    top: -40px;
    width: 300px;
    height: 300px;
    z-index: 1;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60ch;
}

.about-text h3 {
    margin-bottom: 20px;
    font-size: var(--text-lg);
}

.about-text p {
    color: var(--text-primary);
}

.sobre-mim {
    font-size: var(--text-sm);
    color: var(--text-secondary);
    width: 400px;
    line-height: 1.6;
    text-align: justify;
}

@media (max-width: 1100px) {

    .border {
        height: auto;
        border-right: 10vw solid var(--master-black);
        border-left: 10vw solid var(--master-black);

    }

    .about-container {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 40px 20px;
        gap: 30px;
    }

    .about-img {
        margin-top: 40px;
    }

    .about-text {
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 75px;
    }

    .sobre-mim {
        width: 100%;
        text-align: justify;
    }

    .sobre-mim p {
        margin: 0 auto 15px auto;
        font-size: var(--text-sm);
        width: 70%;
    }
}

@media (max-width: 800px) {
    .about {
        margin-top: 100px;
    }
}